#container {
    display:flex;
    justify-content: center;
    width: 100%;
    min-height: 80vh;
    /* background: #1A1A1A; */
  }
  
#content {
  width: 75%;
  max-width: 1200px;
  padding-top: 25px;
  font-size: 14pt;
}

h1 {
  margin-bottom: 50px;
  color: whitesmoke;
  text-transform: uppercase;
}

h2 {
  color: #ECC82B;
}

p {
  color: #2BEC91;
}

p.content-text {
  color: whitesmoke;
}

.bi-apple {
  color:whitesmoke;
}

.bi-list-ul {
  color:#ECC82B;
}

.spacer {
  height: 50px;
  width: 100%;
  border-bottom: 2px solid #ECC82B;
}

#skillsdiv {
  display:flex;
  flex-wrap: wrap;
}

.skill {
  flex: 1 1 33%;
  margin-bottom: 25px;
}

.skills-text {
  display:flex;
  align-items: center;
}

small {
  color: #2BEC91;
  font-size: 12pt;
  margin-left: 10pt;
}

#completed {
  display:flex;
  flex-direction: column;
}

.exp-card {
  display:flex;
  flex-direction: column;
  background: #2A2A2A;
  margin-bottom:50px;
  border: 1px solid #4a4a4a;
  box-shadow: 0px 0px 25px 5px rgba(0,0,0, 0.50);
  transition: 0.25s ease-in-out;
}

.exp-card-top {
  padding: 0px 25px 0px 25px;
  border-bottom:1px solid #4a4a4a;
}

.exp-card-bottom {
  padding: 25px;
  background: #151515;
}

#ab-container {
  display:flex;
  align-items: center;
  justify-content: center;
}

.ab-card {
  display:flex;
  flex-direction: column;
  width: 400px;
  background: #2A2A2A;
  border: 1px solid #4a4a4a;
  box-shadow: 0px 0px 25px 5px rgba(0,0,0, 0.50);
  transition: 0.25s ease-in-out;
  margin-bottom: 25px;
}

.ab-card-top {
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 400px;
  height: 400px;
  border-bottom:1px solid #4a4a4a;
  background: url('../images/portrait.png');
  background-color: rgba( 255, 255, 255, 0.0);
  background-size: cover;
}

.ab-card-bottom {
  font-size: 12pt;
  padding: 25px;
  background: #151515;
}

.tagline {
  font-size: 12pt;
  text-align: center;
  margin-bottom: 25px;
}

#portrait {
  height: 200px;
  width: 200px;
  background: url('../images/portrait.jpg');
  background-size: cover;
  border: 1px solid whitesmoke;
  border-radius: 50%;
  margin: 25px;
}

#card-name {
  text-align: center;
}

.content-container {
  margin-top: 50px;
}

@media only screen and (max-width: 1200px) {
  .skill {
    flex: 1 1 50%;
    margin-bottom: 25px;
  }
}

@media only screen and (max-width: 768px) {

  #content {
    width: 90%;
  }

  .skill {
    display:flex;
    flex-direction: column;
    flex: 1 1 50%;
    justify-content: center;
    align-items: left;
    margin-bottom: 0px;
  }

  .skill h2 {
    font-size: 14pt;
  }

  /* 
  .ab-card {
    
    width: 100%;
  } 

  .ab-card-top {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    border-bottom:1px solid #4a4a4a;
    background: url('../images/portrait.jpg');
    background-size: cover;
  }
  

  .exp-card-bottom {
    padding: 10px;
  } */

  .exp-card {
    margin: 0 15px 0 15px;
    border: unset;
    box-shadow: unset;
    transition: 0.25s ease-in-out;
  }
  
  .exp-card-top {
    background: #1A1A1A;
    padding: 0px 0px 0px 0px;
    border-bottom: unset;
  }
  
  .exp-card-bottom {
    padding: 10px;
    background: #1A1A1A;
  }
  
  #ab-container {
    display:flex;
    align-items: center;
    justify-content: center;
  }
  
  .ab-card {
    display:flex;
    flex-direction: column;
    width: 95%;
    max-width: 500px;
    background: #2A2A2A;
    border: 1px solid #4a4a4a;
    box-shadow: 0px 0px 25px 5px rgba(0,0,0, 0.50);
    transition: 0.25s ease-in-out;
    margin-bottom: 25px;
  }
  
  .ab-card-top {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    border-bottom:1px solid #4a4a4a;
    background: url('../images/portrait.jpg');
    background-size: cover;
    background-position: center;
  }

}